

<div class="top-bar">
	<img id="app-logo" src="<%= asset_path( 'app-logo.jpg' ) %>" />
	<div class="bar-text">	
		<h1 class="app-title">Roommate Rescue</h1>
		<p class="app-slogan">Save yourself from a bad living space.</p>
	</div>
	<div class="sign-in">
		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
		<% end %>
	</div>
</div>
<div class="all-posts"><br />
	<div class="new-button">
		<%= link_to 'New Post', new_post_path, class: "new-post"%>
	</div>
	
	<% @posts.each do |post| %>
		<div class="each-post">
	  		<div>
	  			<div><%= post.hasHome %></div>
	    		<div><%= post.title %></div>
	    		<div><p>Location:</p><%= post.location %></div>
	    		<div><p>Availability Date:</p><%= post.availability %></div>
	    		<div><p>Contact Info:</p><%= post.contact %></div>
	    		<div><%= post.name %></div>
	    		<div><%= post.description %></div>
	    		<div><%= link_to 'Show', post %></div>
	    		<div><%= link_to 'Edit', edit_post_path(post) %></div>
	    		<div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
	  		</div>
	  	</div>
	<% end %>
	
	<br />
</div>

